<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robot_controller_pkg)/config/robot_controllers.yaml</parameters>
            <update_rate>10000</update_rate>
        </plugin>

    </gazebo>
</robot>